{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <h1>Nouvel Atlas Linguistique de Basse-Bretagne (NALBB)</h1>
    </header>
    <main>
        <form>

            <label for="search">Klask : </label>
            <input id="search" name="search" type="search"/>

        </form>
        <div>
            <ul>
                {% for kartenn in kartennou %}
                    <li><div class="niverenn">{{ kartenn.niverenn }}</div><a href="{{ kartenn.url }}"><span class="anv">{{ kartenn.anv }}</span></a></li>
                {% endfor %}
            </ul>

        </div>


    </main>
    <footer>

        <p>Le Dû, J., & Le Dû, Jean (1938-2020). (2023). Nouvel Atlas Linguistique de Basse-Bretagne (NALBB) (Version 1). NAKALA - https://nakala.fr (Huma-Num - CNRS). https://nakala.fr/collection/10.34847/nkl.3fedc636
        </p>
        <p>Lec'hienn Graet gant <a href="https://gwenn.meynier.bzh">Gwenn Meynier</a>. tornoz AT gozmail PIK bzh</p>

    </footer>

{% endblock %}